.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}
.main {
  background-image: url("assets/bg.jpg");
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1400px, 100vw);
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

nav img {
  color: red;
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.btn {
  padding: 3px 8px;
  font-weight: bold;
  background-color: white;

}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
}

.hero> :first-child {
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  text-align: center;
  font-family: "Martel Sans", sans-serif;
  margin-bottom: 24px;
}

.hero> :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero> :nth-child(3) {
  font-size: 16px;
  font-weight: 400;
}

.line {
  height: 7px;
  background-color: rgb(50, 49, 49);
}